@use "simple.css";
@use "fonts.scss";

// Colors
:root {
    /* Set sans-serif & mono fonts */
    --sans-font:
        "RecSansLnr", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
        "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
        "Helvetica Neue", sans-serif;
    --mono-font:
        "RecMonoCsl", Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono",
        monospace;

    /* Default (light) theme */
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #898ea4;
    --accent: #0d47a1;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --bg: #212121;
        --accent-bg: #2b2b2b;
        --text: #dcdcdc;
        --text-light: #ababab;
        --accent: #ffb300;
        --accent-hover: #ffe099;
        --accent-text: var(--bg);
        --code: #f06292;
        --preformatted: #ccc;
        --disabled: #111;
    }
    /* Add a bit of transparency so light media isn't so glaring in dark mode */
    img,
    video {
        opacity: 0.8;
    }
}

// Styling for specific components
//
//

img.header-logo {
    object-fit: contain;
    max-height: 3rem;
    max-width: unset;
    border-radius: 0%;
    float: left;
    margin: 0.5rem 0.5rem 0.5rem;
}

img.readme-logo {
    object-fit: contain;
    max-height: unset;
    //max-width: unset;
    //display: ;
    float: none;
}

footer {
    grid-column: 1 / -1;
}

.readme {
    margin-top: 1rem;
}

.oranda-hide {
    display: none;
}

.mdbook {
    height: 100%;
    width: 100%;
    border: none;
}

.mdbook-container {
    height: 100vh;
    width: 99vw;
    grid-column: 1 / -1;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
}
