@use "simple.css";

img.header-logo {
    object-fit: contain;
    max-height: 3rem;
    max-width: unset;
    border-radius: 0%;
    float: left;
    margin: 0.5rem 0.5rem 0.5rem;
}

img.readme-logo {
    object-fit: contain;
    max-height: unset;
    //max-width: unset;
    //display: ;
    float: none;
}

.readme {
    margin-top: 1rem;
}

.oranda-hide {
    display: none;
}
