{% set root = get_section(path="_index.md") %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hickory</title>

        <link rel="icon" href="{{ config.base_url | safe }}/favicon.ico" />
        <link
            rel="stylesheet"
            href="{{ config.base_url | safe }}/hickory-dns.css"
        />
        <link
            rel="stylesheet"
            href="{{ config.base_url | safe }}/fontawesome/css/all.min.css"
        />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <!-- NavBar -->
        <header>
            <a href="/"
                ><img
                    class="header-logo"
                    alt="Hickory Logo"
                    src="{{ config.base_url | safe }}/logo.png"
            /></a>

            <nav>
                <a href="{{ config.base_url | safe }}/" alt="Home"
                    >{% if section.extra.icon %}<i
                        class="{{ section.extra.icon }} fa-xs"
                    ></i
                    >{% endif %} Home</a
                >
                {% for page in root.pages %}
                <a href="{{ page.permalink | safe }}" alt="{{ page.title }}"
                    >{% if page.extra.icon %}<i
                        class="{{ page.extra.icon }} fa-xs"
                    ></i
                    >{% endif %} {{ page.title }}</a
                >
                {% endfor %}
                <a href="https://github.com/hickory-dns/hickory-dns"
                    ><i class="fa-brands fa-github"></i> Github</a
                >
            </nav>
        </header>

        <!-- Section -->
        {% block content %} {% endblock content %}

        <!-- Page footer -->
        <footer>
            <div>
                <p>Hickory Project, since 2015</p>
                <p>
                    <a href="https://github.com/hickory-dns/hickory-dns"
                        ><i class="fa-brands fa-github"></i> Github</a
                    >
                    <a href="https://discord.gg/89nxE4n"
                        ><i class="fa-brands fa-discord"></i> Discord</a
                    >
                </p>
                <p>
                    Help Contribute to this documentation at Github
                    <a
                        href="https://github.com/hickory-dns/hickory-dns.github.io"
                        >hickory-dns.github.io</a
                    >
                </p>
            </div>
        </footer>
    </body>
</html>
