{% set root = get_section(path="_index.md") %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hickory</title>

        <link rel="stylesheet" href="/hickory-dns.css" />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <!-- NavBar -->
        <header>
            <a href="/"
                ><img class="header-logo" alt="Hickory Logo" src="/logo.png"
            /></a>

            <nav>
                <a href="/">Home</a>
                {% for page in root.pages %}
                <a href="{{ page.permalink }}">{{ page.title }}</a>
                {% endfor %}
            </nav>
        </header>

        <!-- Section -->
        {% block content %} {% endblock content %}

        <!-- Page footer -->
        <footer>
            <p>Hickory Project, since 2015</p>
            <a href="https://github.com/hickory-dns/hickory-dns">Hickory DNS</a>
            <a href="#!">Discord</a>
            <a href="#!">Docs.rs</a>
        </footer>
    </body>
</html>
